<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="/static/table.js"></script>
</head>
<body>
<table id="sap" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>gender</th>
            <th>NationalITy</th>
            <th>PlaceofBirth</th>
            <th>StageID</th>
            <th>GradeID</th>
            <th>SectionID</th>
            <th>Topic</th>
            <th>Semester</th>
            <th>Relation</th>
            <th>raisedhands</th>
            <th>VisITedResources</th>
            <th>AnnouncementsView</th>
            <th>Discussion</th>
            <th>ParentschoolSatisfaction</th>
            <th>StudentAbsenceDays</th>
            <th>Class</th>
        </tr>
    </thead>
</table>

</body>
</html>
