#bar{
    left:10%;
    width:1000px;
    height:400px;
    float:left;
}

#bubbles{
    left:10%;
    width:1000px;
    height:400px;
    float:left;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid grey;

}

#treemap{
    left:10%;
    width:1000px;
    height:400px;
    float:left;
}
