#bar{
    width:350px;
    height:400px;
    float:left;
}

#bubbles{
    width:400px;
    height:400px;
    float:left;
    padding-right: 15px;
    padding-left: 15px;
}

#treemap{
    width:350px;
    height:400px;
    float:left;
}
